img{
    vertical-align: middle;
}

.navbar-collapse{
    display: flex;
    width: 100%;
}

.ml-auto{
    margin-left: auto;
}
.navbar-nav{
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
}